        </main>
            <footer class="page-footer">
                <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                    <h5 class="white-text">About</h5>
                    <p class="grey-text text-lighten-4">A story outlining platform that uses digital index cards in the place of physical stationary to make the world a better place.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://linkedin.com/in/kevin-glen"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/kevinglen1"><i class="fab fa-github"></i> Github</a></li>
                    </ul>
                    </div>
                </div>
                </div>
                <div class="footer-copyright">
                <div class="container">
                © 2022
                </div>
                </div>
            </footer>
    </body>
</html>